frontend frontend
         bind *:80
         timeout client 60s
         mode http

         #Acl lists
         acl app1 path_end -i /app1 
         acl app2 path_end -i /app2  

         use_backend app1servers if app1
         use_backend app2servers if app2
         
         # TRY https://stackoverflow.com/questions/41137494/ha-proxy-rule-404-not-found

        # Defaults
         default_backend allservers

backend app1servers  
        timeout connect 10s
        timeout server 10s
        mode http
        server  server1111 127.0.0.1:1111
        server  server2222 127.0.0.1:2222
        
        

backend app2servers 
        timeout connect 10s
        timeout server 100s
        mode http        
        server  server3333 127.0.0.1:3333
        server  server4444 127.0.0.1:4444

backend allservers
        timeout connect 10s
        timeout server 100s
        mode http
        server  server1111 127.0.0.1:1111
        server  server2222 127.0.0.1:2222
        server  server3333 127.0.0.1:3333
        server  server4444 127.0.0.1:4444

# It's working !! the backend is still asked for url/app1. Hence 404. in next let's fix that
